.footer {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100vw;
  padding-top: 80px;
  margin-top: 80px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer-logo {
  width: 250px;
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-content-right h2,
.footer-content-center h2 {
  color: white;
}

.footer-social-icon img {
  margin-top: 10px;
  border-radius: 50%;
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.f:hover {
  background-color: #1877f2;
  transform: scale(1.05);
}
.t:hover {
  background-color: #1da1f2;
  transform: scale(1.05);
}
.l:hover {
  background-color: #0077b5;
  transform: scale(1.05);
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0px;
  background-color: gray;
  border: none;
}

@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .footer-copyright {
    text-align: center;
  }
}
