.my-order-skeleton {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0px;
}

.skeleton-card {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: #454545;
    border: 1px solid #e2e2e2;
    height: 90px;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-box {
  background-color: #ddd;
  height: 20px;
  width: 100%;
  border-radius: 4px;
}

.skeleton-img {
   width: 50px;
   height: 50px;
   background-color: #ddd;
   border-radius: 4px; 
}


.skeleton-btn {
    width: 100px;
    height: 35px;
    background-color: #ddd;
    border-radius: 4px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
    .skeleton-card {
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
        height: auto;
        padding: 15px;
    }
    .skeleton-btn{
        font-size: 10px;
    }
}
