.forgot-password-link {
    font-size: 13px;
    color: tomato;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: right;
}

.forgot-password-link:hover {
    text-decoration: underline;
}