.forgot-password {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.forgot-password-container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}

.forgot-password-container h2 {
    color: #49557e;
    text-align: center;
}

.forgot-password-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

.forgot-password-container button {
    padding: 10px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.forgot-password-container button:hover {
    background-color: #ff6b6b;
}