.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.logo {
  max-width: 165px;
}

.navbar-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 18px;
  color: #49557e;
}

.navbar-menu a {
  text-decoration: none;
  color: inherit;
}

.navbar .active {
  border-bottom: 2px solid tomato;
}

.navbar_right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar_right .button {
  background: transparent;
  border: 1.5px solid tomato;
  padding: 8px 24px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar_right .button:hover {
  background-color: #f4a261;
  color: white;
}

.navbar_search_icon {
  position: relative;
}

.navbar_search_icon .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}
.navbar_right img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s;
}

/* Mobile menu icon */
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
.sign-in {
  background: transparent;
  border: 1.5px solid tomato;
  padding: 4px;
  border-radius: 5px;
}

.cross-icon {
  position: inherit;
  right: 10px;
  top: 0;
  font-size: 30px;
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
  position: absolute;
  top: 95px;
  right: 20px;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 10;
}

.mobile-menu a {
  text-decoration: none;
  color: #49557e;
  font-size: 16px;
}

.nav-profile {
  position: relative;
  cursor: pointer;
  font-size: 15px;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  min-width: 250px;
  z-index: 1;
}

.nav-profile-dropdown li:hover {
  color: tomato;
}

.nav-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-profile-dropdown img {
  width: 20px;
}

/* Responsive */
@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .navbar_right .button {
    display: none;
  }
}
@media (max-width: 500px) {
  .navbar_right img{
    font-size: 10px;
    width: 15px;
  }
  .navbar_right .menu-icon{
   font-size: 18px;
   font-weight: 600;
  }

  .navbar .logo {
    width: 80px;
  }
}
